/*---------------------------*\
    #BASE STYLES
\*---------------------------*/

html,
:root {

  font-family: $font-serif;
  font-size: $base-font-size;
  line-height: $baseline-unitless;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background: #181F1C;
  color: $color-primary;

}

p, table, img, blockquote, pre, ul, ol,
h1, .alpha,
h2, .beta {
  @include rem('margin-bottom', $baseline);
}

li {
  ol, ul {
    margin-bottom: 0;
  }
}

.lead {
  text-align: center;
}